In [1]:
# "PYTHON BASICS FOR BEGGINERS "

# programming is just a processing of the data.

# TODAY:
 """Learning about variable declaration,data type, int , boolean,
    Complex nummbers,examples of string slicing,indexing,
    string inbuilt functions """

In [3]:
# Variables in Python:These are the containers that holds or stores the data
a = 1+2
# Here a is called variable
# Python is self Paced understanding Languages we won't tell Python 
# to find the type of the data

In [4]:
print(a)

3

In [5]:
b = 56

In [6]:
a + b

59

In [1]:
True/False

ZeroDivisionError: division by zero

In [2]:
# True/False is undefined or infinity

In [3]:
# Complex number a+bj here we use j instead of i

In [5]:
a = 4+7j

In [7]:
type(a)

complex

In [8]:
a.real

4.0

In [9]:
a.imag

7.0

In [14]:
# 'String Slicing' in Python
s ="pwskills"

In [15]:
s[0]

'p'

In [16]:
s[0:8]

'pwskills'

In [17]:
s[-1]

's'

In [18]:
s[3]

'k'

In [19]:
s[0:7]

'pwskill'

In [20]:
s[0:-1]

'pwskill'

In [21]:
s[-8]

'p'

In [22]:
s[-8:-1]

'pwskill'

In [23]:
s[0:]

'pwskills'

In [25]:
s[:]

'pwskills'

In [26]:
s[::]

'pwskills'

In [28]:
s[8:7]

''

In [30]:
s[0:3]

'pws'

In [31]:
s[0:9]

'pwskills'

In [32]:
s[-9:6]

'pwskil'

In [33]:
s[0:8:2]

'psil'

In [34]:
s[::2]

'psil'

In [39]:
s[0::2]

'psil'

##

In [41]:
s[::-1]

'sllikswp'

In [42]:
s[2::1]

'skills'

In [44]:
s[2::2]

'sil'

In [45]:
s[2:7:-1]

''

In [46]:
s[1:0]

''

In [47]:
s[1:0:1]

''

In [49]:
s[1:0:-1]

'w'

In [51]:
# We will able to get the data only to that side whre we are supposed to jump
# Ex:s[8:0:-1]
s[8:0:-1]

'slliksw'

In [52]:
s[-2:-8:1]
# Here we wont able to get the data because we are slicing the data from -2:-8 
# And jumping to the positive side that is +1

''

In [53]:
s[-2:-8:-1]
# Data always be printed based on the formula upper bound - Lower bound [UB-LB]

'lliksw'

In [54]:
s[-2::-1]
# If we not purposely mentioned the data upto which we are wanted to get the 
# the data,Then the system atomatically print the data upto to the last count

'llikswp'

In [55]:
s[::-1]

'sllikswp'

In [56]:
s[-8::-1]

'p'

In [57]:
s[:-93:]

''

In [4]:
s = "pwskills"

In [5]:
s[::1]

'pwskills'

In [6]:
s[::]

'pwskills'

In [5]:
s1 = "pwskills"

In [6]:
s1[-8::-1]

'p'

In [9]:
s1[-8:-1]

'pwskill'

In [11]:
s1[-8:]

'pwskills'

In [16]:
s1[::-1].upper()

'SLLIKSWP'

In [7]:
s1[-1]

's'

In [7]:
s[:-90:]

''

In [8]:
c = "200"
# In case of the string we can give the indexing not in case of integer

In [9]:
c[1]

'0'

In [10]:
c[0]

'2'

In [13]:
c = "748444"

In [15]:
c[3]

'4'

In [16]:
s = "Brief History of Time "

In [20]:
len(s)

22

In [21]:
s.find('s')

8

In [22]:
s.find('i')

2

In [23]:
s.count("e")

2

In [25]:
s.capitalize()

'Brief history of time '

In [26]:
s.swapcase()

'bRIEF hISTORY OF tIME '

In [27]:
s.find("is")

7

In [28]:
s.encode()

b'Brief History of Time '

In [2]:
s1 = "The World As I See It"

In [3]:
s1.expandtabs()

'The World As I See It'

In [4]:
s1.casefold()

'the world as i see it'

In [12]:
s1.center(5)

'The World As I See It'

In [18]:
s1.endswith("See")

False

In [19]:
s1.endswith("It")

True

In [20]:
s1.expandtabs()

'The World As I See It'

In [22]:
s1.find("World")

4

In [25]:
s1.format()

'The World As I See It'

In [28]:
s1.format_map(2)

'The World As I See It'

In [30]:
s1.index("See")

15

In [31]:
s1.isalnum()

False

In [32]:
s1.isalpha()

False

In [33]:
s1.isascii()

True

In [34]:
s1.isdecimal()

False

In [35]:
s1.isdigit()

False

In [36]:
s1.isidentifier()

False

In [37]:
s1.islower()

False

In [38]:
s1.isprintable()

True

In [39]:
s1.isspace()

False

In [40]:
s1.istitle()

True

In [41]:
s1.isupper()

False

In [46]:
s1.join("join")

'jThe World As I See ItoThe World As I See ItiThe World As I See Itn'

In [51]:
s1.ljust(6)

'The World As I See It'

In [52]:
s1.lower()

'the world as i see it'

In [53]:
s1.lstrip()

'The World As I See It'

In [62]:
world = "Im Living Here"

In [63]:
s1.maketrans({world})

TypeError: if you give only one argument to maketrans it must be a dict

In [66]:
s1.partition(s1)

('', 'The World As I See It', '')

In [69]:
s1.removeprefix(s1)

''

In [70]:
s1.removesuffix(s1)

''

In [76]:
p = "Python is very simple programming language to learn"

In [77]:
s1.replace(s1,p)

'Python is very simple programming language to learn'

In [78]:
s1.rsplit()

['The', 'World', 'As', 'I', 'See', 'It']

In [84]:
# Code to find a character of a sub string in a string 
p.rfind(p)

0

In [85]:
s1.splitlines()

['The World As I See It']

In [89]:
s1.rindex(s1)

0

In [92]:
# It is only possible to concatinaate string with the string 
# If we want to do so we need to first convert integer into the string 

Ex = "I can concatinate this string to the integer forward me ie.,"

In [93]:
Ex + str(4)

'I can concatinate this string to the integer forward me ie.,4'

In [94]:
# We can able to multiply string to the integer
Ex * 2

'I can concatinate this string to the integer forward me ie.,I can concatinate this string to the integer forward me ie.,'

In [8]:
s1 = "Learning Python"

In [9]:
"Shreyas" + " " + s1

'Shreyas Learning Python'

In [11]:
"Shreyas" / str(2)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [14]:
"Don't do copy and paste "

"Don't do copy and paste "

In [21]:
s2 = """ This is called as the multiline comment! 
this is basically used to commenting a various lines """

In [22]:
s2

' This is called as the multiline comment! \nthis is basically used to commenting a various lines '

In [23]:
print(s2)
# Here,"back slash n" (/n) shows the new line character

 This is called as the multiline comment!
this is basically used to commenting a various lines

In [1]:
c = 5+8j

In [5]:
type(c)

complex

In [6]:
c.imag

8.0

In [8]:
c.real

5.0

In [1]:
# Premitive data types:Strings, boolean,String Slicing ,String inbuilt function 
# complex number 
# Lists,Tuples and Set in Python

In [2]:
# Lists are the type of data sets where we can store any type of data 
# Strings, boolean, Floating point nuber,complex number etc

In [3]:
l = [3,3.5,"Shreyas", True,5+7j]

In [4]:
type(l)

list

In [5]:
l[0]

3

In [6]:
l[3]

True

In [8]:
l[:3]

[3, 3.5, 'Shreyas']

In [9]:
l[0:3]

[3, 3.5, 'Shreyas']

In [10]:
l[-1]

(5+7j)

In [11]:
l[::-1]

[(5+7j), True, 'Shreyas', 3.5, 3]

In [12]:
l[::]

[3, 3.5, 'Shreyas', True, (5+7j)]

In [13]:
l[::2]

[3, 'Shreyas', (5+7j)]

In [14]:
# We can only able to concatinate similer data types
# We also have a list as a function in Python 
s = "pwskills"
l+s

TypeError: can only concatenate list (not "str") to list

In [15]:
list(s)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [16]:
list(s) + l

['p', 'w', 's', 'k', 'i', 'l', 'l', 's', 3, 3.5, 'Shreyas', True, (5+7j)]

In [17]:
l

[3, 3.5, 'Shreyas', True, (5+7j)]

In [18]:
l[2]

'Shreyas'

In [19]:
l[2][0:3]

'Shr'

In [20]:
l[3]

True

In [21]:
l[3][0:]

TypeError: 'bool' object is not subscriptable

In [22]:
l[::2]

[3, 'Shreyas', (5+7j)]

In [23]:
str(l[3])[0:2]

'Tr'

In [24]:
l1 = [3,5,6]

In [25]:
l + l1

[3, 3.5, 'Shreyas', True, (5+7j), 3, 5, 6]

In [26]:
l1 * 3

[3, 5, 6, 3, 5, 6, 3, 5, 6]

In [28]:
l.append (5)

In [29]:
l

[3, 3.5, 'Shreyas', True, (5+7j), 5]

In [30]:
len(l)

6

In [31]:
l.append(s)

In [32]:
l

[3, 3.5, 'Shreyas', True, (5+7j), 5, 'pwskills']

In [33]:
# We can store list inside a list called a nested list
l.append(l1)

In [34]:
l

[3, 3.5, 'Shreyas', True, (5+7j), 5, 'pwskills', [3, 5, 6]]

In [35]:
l[7][1]

5

In [36]:
# int object cannot be iterable(data inside the data)
l.extend(5)

TypeError: 'int' object is not iterable

In [38]:
l.extend("Shreyas")

In [39]:
l

[3,
 3.5,
 'Shreyas',
 True,
 (5+7j),
 5,
 'pwskills',
 [3, 5, 6],
 'S',
 'h',
 'r',
 'e',
 'y',
 'a',
 's']

In [40]:
# Extend can be used for the iterable indexes means data inside the data 
# Since we can breakdown the strings threfore they are iterable 
# we cant able to breakdown integers threfore they are not iterable objects

In [42]:
l.extend([8,6,7])

In [43]:
l

[3,
 3.5,
 'Shreyas',
 True,
 (5+7j),
 5,
 'pwskills',
 [3, 5, 6],
 'S',
 'h',
 'r',
 'e',
 'y',
 'a',
 's',
 8,
 6,
 7]

In [44]:
l1

[3, 5, 6]

In [46]:
# Insert function used to add the data whre we want to put our data in a list 
l1.insert(1,"Shreyas")

In [47]:
l1

[3, 'Shreyas', 5, 6]

In [49]:
l1.insert(2,[7,89,9])

In [50]:
l1

[3, 'Shreyas', [7, 89, 9], 5, 6]

In [51]:
# append and extend used to add the data at the last positionn in a differentr context

In [52]:
l1.insert(-1,74)
# Here, data 6 pushed towards forward and at that position we got 74

In [53]:
l1

[3, 'Shreyas', [7, 89, 9], 5, 74, 6]

In [54]:
# Pop method in a list removes the data at the indexes by default it removes
# form the -1

In [55]:
# The remove function always  go with the elements that we gonna pass 
# Where as pop go with the indexes of the list elements 
l1.remove(3)

In [56]:
l1

['Shreyas', [7, 89, 9], 5, 74, 6]

In [62]:
l1

['Shreyas', [7, 89, 9], 5, 74, 6]

In [64]:
l1.remove("Shreyas")

In [65]:
l1

[[7, 89, 9], 5, 74, 6]

In [68]:
l2 = ["Shreyas",4,78,90,[3,4,5]]

In [71]:
# remove only works for the first occurence of the value
l2[4].remove(4)

In [72]:
l2

['Shreyas', 4, 78, 90, [3, 5]]

In [75]:
l2.pop(1)

4

In [77]:
l2

['Shreyas', 78, 90, [3, 5]]

In [79]:
# Strings in a list are the immutable objects therefore we cant able to 
# remove 'a' and 's' in a string "Shreyas"
# 
l2[1].remove()

SyntaxError: invalid syntax (2199038659.py, line 1)

In [80]:
l1[::-1]
# It is a temporary reversse of  a list

[90, 78, 4, 'Shreyas', [3, 4, 5]]

In [82]:
l1.reverse()
# This function makes a permanent  reverse of a list

In [83]:
l1

[90, 78, 4, 'Shreyas', [3, 4, 5]]

In [84]:
# Assign operation reverses the whole list permanently also instead of 
# reverse function also 
l1 = l1[::-1]

In [85]:
l1

[[3, 4, 5], 'Shreyas', 4, 78, 90]

In [86]:
l1.sort()

TypeError: '<' not supported between instances of 'str' and 'list'

In [87]:
# Sort function also works only if we have the similer data types 
l2.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [88]:
l3 = [5,.67,90,0,1,3,6,785,90.78]
l3.sort()

In [89]:
l3

[0, 0.67, 1, 3, 5, 6, 90, 90.78, 785]

In [93]:
l4 = ["Shreyas", "Girish","Chillal","Shahapur","Dist:Yadgiri"]

In [94]:
# Sort function in a list arrange the values in an ascending order only
l4.sort()

In [95]:
l4

['Chillal', 'Dist:Yadgiri', 'Girish', 'Shahapur', 'Shreyas']

In [96]:
l4.sort(reverse = True )

In [97]:
l4

['Shreyas', 'Shahapur', 'Girish', 'Dist:Yadgiri', 'Chillal']

In [99]:
l4.index("Shreyas")

0

In [109]:
print(l4.index("Chillal"))

4

In [111]:
l4.count("Shreyas")

1

In [112]:
s1 = "Shreyas"

In [113]:
l5 = [3,4,5,6]

In [114]:
s1[0]

'S'

In [3]:
s2 = "Washington DC"

In [5]:
s2[0]

'W'

In [6]:
# We can't able to mutate String objects
# The  mutability means we are able to change the string object by means
# of its index

In [8]:
s2[0] = "D"
# Here we can see that the strings cant be able to change

TypeError: 'str' object does not support item assignment

In [ ]:
# With the replace(Reasignment) function we can change the string 
# object temporarily but not the permanently since the original remains same
# We cant change at the same memory location 
# Its been added at the different memory location

In [9]:
s2.replace ('W' , 'Z')

'Zashington DC'

In [10]:
s2

'Washington DC'

In [ ]:
# Tuples : These are the same data type as that of the list but these are 
# Immutable objects in Python 
# Tuples aren't able to change like the list elements 
# tuple' object does not support item assignment
# Tuples are basically used to save the items like Password in 
# accounts like facebook,linkedIn,etc
# Item reassignmemt is different than  mutability 
# Tuples have only two functions count and index

In [ ]:
# Lists can be mutable data types Tuples arent

In [11]:
t = (2,4, 55, "Shreyas" ,False , 7+6j,[4,6,7])

In [12]:
t

(2, 4, 55, 'Shreyas', False, (7+6j), [4, 6, 7])

In [13]:
type(t)

tuple

In [14]:
len(t)

7

In [16]:
t[0]

2

In [17]:
t[-1]

[4, 6, 7]

In [18]:
# Reverse of tuple 
t[::-1]

([4, 6, 7], (7+6j), False, 'Shreyas', 55, 4, 2)

In [20]:
# We can able to change the list by accessing proper index
l6 = [45, "shreyas" , False , [8,9,0]]

In [22]:
l6[0] = 78

In [23]:
l6

[78, 'shreyas', False, [8, 9, 0]]

In [24]:

t[0] = 89

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Sets in Python :Unordered Collection of unique objects 
# We basically use curly braces in sets  
# Sets only provide unique data types

In [25]:
set = {}

In [26]:
type(set)

dict

In [37]:
s4 = {2.4,45,6,6,"Shreyas", False , 4+5j,5.7}

In [38]:
type(s4)

set

In [ ]:
# We can't able to insert list in set
# But we can able to insert Tuple elements in set 
# Since Tuples are immutable whereas lists are mutable collections

In [41]:
# Sets only provide unique data types
s5 = {1,23,2,3,4,67,4,56,5,6,90,7,6,"Shreyas" , "shreyas"}

s5

In [42]:
s5

{1, 2, 23, 3, 4, 5, 56, 6, 67, 7, 90, 'Shreyas', 'shreyas'}

In [2]:
l_7 = [3,4,5,6,7,67,8,9,"Shreyas"]

In [3]:
L = set(l_7)

In [4]:
L

{3, 4, 5, 6, 67, 7, 8, 9, 'Shreyas'}

In [5]:
s6 = {2,3,4,2,3,3,4,5,6,7,8}

In [7]:
# Here we can see set only provide unique data types
s6

{2, 3, 4, 5, 6, 7, 8}

In [12]:
# Set does not allow arrangements of ordered data type colllection
s7 = {2,3,67,78,89,69.77,878,445,54,67,78,86.8,454,65,3,4,5,6,7,8}

In [13]:
s7

{2, 3, 4, 5, 6, 7, 8, 54, 65, 67, 69.77, 78, 86.8, 89, 445, 454, 878}

In [15]:
# Both Indexing and slicinng operation doesnot work in a set method 
# Which otherwise working in case of tuple,strings and lists 
# It says that 'set' object is not subscriptable
s7[5]

TypeError: 'set' object is not subscriptable

In [16]:
s7[::6]

TypeError: 'set' object is not subscriptable

In [ ]:
# Set Methods : add,clear,copy,discard,intersection,difference,indisjoint
# issubset,difference_update,indisjoint,union,pop,remove,symmetric_difference

In [18]:
s7.add(9)

In [19]:
s7

{2, 3, 4, 5, 6, 7, 8, 9, 54, 65, 67, 69.77, 78, 86.8, 89, 445, 454, 878}

In [ ]:
# set doesnot have an indexing instead it has hashing 
# hashing is something in whhich to place any number unique it generates a random key
# We should not add at perticular position like we do in a list
# The things we have studied here will be used while reading the data from 
# the Excel sheets ,cloud,Doc files

In [1]:
l = ["a","b","c","d","1","2","3","4"]

In [3]:
l.sort()

In [1]:
l = [1,2,3,4,56,67,[2,3,4,56,7]]

In [2]:
l.extend("Shreyas")

In [3]:
l

[1, 2, 3, 4, 56, 67, [2, 3, 4, 56, 7], 'S', 'h', 'r', 'e', 'y', 'a', 's']

In [4]:
# Record_3:Dictionary,Conditional,Loop

In [5]:
d = {}

In [6]:
type(d)

dict

In [8]:
d_1 = {"Key":"Value" }

In [10]:
d_1

{'Key': 'Value'}

In [9]:
type(d_1)

dict

In [4]:
l

['1', '2', '3', '4', 'a', 'b', 'c', 'd']

In [5]:
s = "Shreyas"

In [6]:
list(s)

['S', 'h', 'r', 'e', 'y', 'a', 's']

In [8]:
l.insert(3,list(s))

In [9]:
l

['1', '2', '3', ['S', 'h', 'r', 'e', 'y', 'a', 's'], '4', 'a', 'b', 'c', 'd']

In [ ]:
# The difference between append and extend is append will add the data at the 
# end of the list where as extend will first break the data then add it to the
# end of the list 
# Extend will only take the iterable(breaking) objects and add it the end of the list
# Insert function will give us the flexibility to add the data anywhere in the list

In [12]:
# In dictionary special case characters are not allowed 
# Key as a boolean value works 
# Strings,boolean,alphanum characters are allowed in keys

In [22]:
d_2 = {"name":"Shreyas" , "email":"shreyas@gmail.com",True:6785}

In [23]:
d_2

{'name': 'Shreyas', 'email': 'shreyas@gmail.com', True: 6785}

In [24]:
d_2["name"]

'Shreyas'

In [25]:
d_2["email"]

'shreyas@gmail.com'

In [26]:
d_2[True]

6785

In [27]:
d_2[1]

6785

In [20]:
d = {"shreyas":"Chillal"}

In [22]:
type(d)

dict

In [28]:
d_3 = {"name":"Shreyas","name":"shreyas"}

In [29]:
d_3["name"]

'shreyas'

In [30]:
# Key should be unique if we give multiple same key then it will give the value 
# of the last key 
# We can also put the value as a list in dictionary

In [32]:
d4 = {"company":"pwskills","courses":["web_dev","Data_Science","Java DSA"]}

In [34]:
d4["courses"]

['web_dev', 'Data_Science', 'Java DSA']

In [35]:
# Remove "Java DSA"
d4["courses"] [2]

'Java DSA'

In [44]:
# Different data types in dictionary as a value (we can take any )
d5 = {"number": [4,5,67,2,34],"assignment":(3,4,6,7,85,5),"launch_date":{12,4,6,15},"class_time(PM)":{"web_dev":8,"Data_Science":9,"Java_SD":10}}

In [45]:
d5["launch_date"]

{4, 6, 12, 15}

In [46]:
d5["class_time(PM)"]

{'web_dev': 8, 'Data_Science': 9, 'Java_SD': 10}

In [47]:
d5

{'number': [4, 5, 67, 2, 34],
 'assignment': (3, 4, 6, 7, 85, 5),
 'launch_date': {4, 6, 12, 15},
 'class_time(PM)': {'web_dev': 8, 'Data_Science': 9, 'Java_SD': 10}}

In [49]:
d5["class_time(PM)"]["Java_SD"]

10

In [52]:
d5["mentor"] = ["Sudanshu","Krish","Hayder","Vani"]

In [53]:
d5

{'number': [4, 5, 67, 2, 34],
 'assignment': (3, 4, 6, 7, 85, 5),
 'launch_date': {4, 6, 12, 15},
 'class_time(PM)': {'web_dev': 8, 'Data_Science': 9, 'Java_SD': 10},
 'mentor': ['Sudanshu', 'Krish', 'Hayder', 'Vani']}

In [54]:
del d5["number"]

In [55]:
d5

{'assignment': (3, 4, 6, 7, 85, 5),
 'launch_date': {4, 6, 12, 15},
 'class_time(PM)': {'web_dev': 8, 'Data_Science': 9, 'Java_SD': 10},
 'mentor': ['Sudanshu', 'Krish', 'Hayder', 'Vani']}

In [56]:
d5["Dic_Methods"] = ["copy","get","items","pop","fromkeys","popitem","update","values"]

In [57]:
d5

{'assignment': (3, 4, 6, 7, 85, 5),
 'launch_date': {4, 6, 12, 15},
 'class_time(PM)': {'web_dev': 8, 'Data_Science': 9, 'Java_SD': 10},
 'mentor': ['Sudanshu', 'Krish', 'Hayder', 'Vani'],
 'Dic_Methods': ['copy',
  'get',
  'items',
  'pop',
  'fromkeys',
  'popitem',
  'update',
  'values']}

In [58]:
d5.keys()

dict_keys(['assignment', 'launch_date', 'class_time(PM)', 'mentor', 'Dic_Methods'])

In [60]:
d5.values()

dict_values([(3, 4, 6, 7, 85, 5), {12, 4, 6, 15}, {'web_dev': 8, 'Data_Science': 9, 'Java_SD': 10}, ['Sudanshu', 'Krish', 'Hayder', 'Vani'], ['copy', 'get', 'items', 'pop', 'fromkeys', 'popitem', 'update', 'values']])

In [61]:
d5.items()

dict_items([('assignment', (3, 4, 6, 7, 85, 5)), ('launch_date', {12, 4, 6, 15}), ('class_time(PM)', {'web_dev': 8, 'Data_Science': 9, 'Java_SD': 10}), ('mentor', ['Sudanshu', 'Krish', 'Hayder', 'Vani']), ('Dic_Methods', ['copy', 'get', 'items', 'pop', 'fromkeys', 'popitem', 'update', 'values'])])

In [62]:
list(d5.items())
# Here,Tuples holds Key:Value Pairs

[('assignment', (3, 4, 6, 7, 85, 5)),
 ('launch_date', {4, 6, 12, 15}),
 ('class_time(PM)', {'web_dev': 8, 'Data_Science': 9, 'Java_SD': 10}),
 ('mentor', ['Sudanshu', 'Krish', 'Hayder', 'Vani']),
 ('Dic_Methods',
  ['copy', 'get', 'items', 'pop', 'fromkeys', 'popitem', 'update', 'values'])]

In [63]:
# Pop method extract a data from the dictionary if we give key then it will remove value from that key

In [64]:
d5.pop("assignment")

(3, 4, 6, 7, 85, 5)

In [65]:
# In case of the list we've been able to remove the data from the last we 
# haven't mentioned the key Whereas  in case of the dictionary it is not possible

In [ ]:
# equal to(=) just assign the data (Called an assignment Operator)
# equal-equal to(==) compare the data (called a comparision operator)

In [14]:
# "If" and "Elif" conditions
marks = int(input("Enter your marks"))
if marks >= 80 :
    print("you will be a part of A0 batch")
elif marks >= 60 and marks < 80 :
    print("you will be a part of A1 batch")
elif marks >= 40 and marks < 60 :
    print("you will be a part of A2 batch")
else:
    print("you will be a part of A3 batch")

Enter your marks788
you will be a part of A0 batch

In [2]:
price = int ( input ("Enter price"))
if price > 1000 :
    print ("I'll not purchase")
else :
    print ("I'll purchase")

Enter price6758
I'll not purchase

In [6]:
price = int (input("Enter price "))
if price > 1000:
    print("I'll not purchase")
    if price > 5000:
        print("This is too much")
    elif price < 2000:
        print("Its ok")
elif price < 1000:
    print("I'll purchase")
else :
    print("not interested ")

Enter price 56
I'll purchase

In [1]:
# Loops in Python:
l = [1,2,3,4,5,6,7]
# add  1 at every element of this list

In [2]:
l[0]

1

In [3]:
l[0] + 1

2

In [5]:
l1 = []
l1.append(l[0]+1)
l1

[2]

In [6]:
# For loops in Python:
for i in l :
    print(i)

1
2
3
4
5
6
7

In [7]:
for w in l :
    print(w)

1
2
3
4
5
6
7

In [9]:
# Now our objective is to add +1 to the every element of l 
# To do so we first create a new blank list 
l1 = []
for i in l :
    print(i+1)
    l1.append(i+1)

2
3
4
5
6
7
8

In [10]:
l1

[2, 3, 4, 5, 6, 7, 8]

In [7]:
l = ["Artemis-II Crew Members:","Ried Wiseman:Mission Specialist","Victor Glover:Test Pilot","Christina Koch:Mission Specialist","Jeremy Hanson:Mission Specialist"]

In [8]:
l1 = []
for i in l :
    print(i)
    l1.append (i.upper())

Artemis-II Crew Members:
Ried Wiseman:Mission Specialist
Victor Glover:Test Pilot
Christina Koch:Mission Specialist
Jeremy Hanson:Mission Specialist

In [9]:
l1

['ARTEMIS-II CREW MEMBERS:',
 'RIED WISEMAN:MISSION SPECIALIST',
 'VICTOR GLOVER:TEST PILOT',
 'CHRISTINA KOCH:MISSION SPECIALIST',
 'JEREMY HANSON:MISSION SPECIALIST']

In [6]:
l = [1,2,3,4,5,6,"Shreyas","Nepoleon",4.56,"Hill"]

In [15]:
l5_num = []
l6_str = []
for i in l:
    l5_num.append(i)
    l6_str,append(i)

NameError: name 'l' is not defined

In [9]:
l5_num

NameError: name 'l5_num' is not defined

In [2]:
s2 = (1,2,3,4,"class",True)

In [3]:
s2.index(1)

0

In [4]:
s2.count(1)

2

In [5]:
s2.count(True)

2

In [3]:
marks = int(input("Enter your marks"))

if marks > 100 :
    print("This is not a valid marks ")
else:
    if marks >= 80 :
        print("you will be a part of A0 batch")
    elif marks >= 60 and marks < 80 :
        print("you will be a part of A1 batch")
    elif marks >= 40 and marks < 60 :
        print("you will be a part of A2 batch")
    else:
        print("you will be a part of A3 batch")

Enter your marks67
you will be a part of A1 batch

In [23]:
dic1 = {"a": "Shreyas","b" : "Love","c" : "Coding"}

keys = []
values = []
for item in dic1.items():
    keys.append(items[0]),values.append(items[1])
print("keys :",keys)
print("values :" , values)

keys : ['c', 'c', 'c']
values : ['Coding', 'Coding', 'Coding']

In [28]:
d8 = 6,78,99,9
d8.fromkeys[2,3,4,6]

AttributeError: 'tuple' object has no attribute 'fromkeys'

In [1]:
l = [1,2,3,4,5]

In [2]:
for u in l :
    print(u)

1
2
3
4
5

In [6]:
print(u,type(u))

5 <class 'int'>

In [7]:
l1 = ["Space X","Nasa","Isro","Jaxa","Roscosmos","Northrupan","Lockheed Martin"]

In [8]:
for i in l1:
    print(i,type(i))

Space X <class 'str'>
Nasa <class 'str'>
Isro <class 'str'>
Jaxa <class 'str'>
Roscossmos <class 'str'>
Northrupan <class 'str'>
Lockheed Martin <class 'str'>

In [2]:
l1 = ["Smash","Lobester","Prawn","Strepson"]
for i in l1:
    print(i)
else:
    print("Do something")
# Else loop execute only when for loop complete itself completely

Smash
Lobester
Prawn
Strepson
Do something

In [3]:
# "Break" and "Continue" Statements in Python
l2 = ["Stephen","Hawkins","Blackhole","Fast Radio Burst"]
for i in l2 :
    if i == "Hawkins":
        break
    print(i)

Stephen

In [5]:
l3 = ["Nasa","Artemis-2","Moon","2024"]
l3[3]

'2024'

In [6]:
for i in l3 :
    if i == "Artemis-2":
        break
    print(i)
else:
    print("Execute only if for loop completes itself")

Nasa

In [8]:
for i in l3:
    print(i)
    break
else:
    print("Execute only if Forloop able to complete itself")

Nasa

In [9]:
l3

['Nasa', 'Artemis-2', 'Moon', '2024']

In [10]:
# Continue statement
for i in l3 :
    if i == "Artemis-2":
        continue
    
    print(i)

Nasa
Moon
2024

In [11]:
l3

['Nasa', 'Artemis-2', 'Moon', '2024']

In [13]:
# Else with "continue"
for i in l3 :
    if i == "Artemis-2":
        continue
    print(i)
else :
    print("Else Executes only if 'Forloop 'able to complete itself ")

Nasa
Moon
2024
Execute only if 'Forloop 'able to complete itself

In [15]:
# "Range Function" also called Generator Function 
range(5)

range(0, 5)

In [16]:
list(range(5))

[0, 1, 2, 3, 4]

In [17]:
list(range (0,5,1))

[0, 1, 2, 3, 4]

In [18]:
list(range (0,5,2))

[0, 2, 4]

In [19]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [21]:
list(range(-10,0,2))

[-10, -8, -6, -4, -2]

In [22]:
l1

['Smash', 'Lobester', 'Prawn', 'Strepson']

In [23]:
len(l1)

4

In [26]:
for i in range(len(l1)):
    print(l1)

['Smash', 'Lobester', 'Prawn', 'Strepson']
['Smash', 'Lobester', 'Prawn', 'Strepson']
['Smash', 'Lobester', 'Prawn', 'Strepson']
['Smash', 'Lobester', 'Prawn', 'Strepson']

In [27]:
list(range(len(l1)))

[0, 1, 2, 3]

In [28]:
for i in range(len(l1)):
    print(l1[i])

Smash
Lobester
Prawn
Strepson

In [18]:
l1 = ["Smash","Lobster","Prawn","Strepson"]

In [19]:
l1

['Smash', 'Lobster', 'Prawn', 'Strepson']

In [20]:
len(l1)

4

In [21]:
range(len(l1),0)

range(4, 0)

In [22]:
list(range(len(l1),0))
# Since the upper bound is 5 and lower bound is 0 but the jump is +1
# Thats why we won't able to get the data

[]

In [23]:
list(range(len(l1),0,-1))

[4, 3, 2, 1]

In [24]:
l1

['Smash', 'Lobster', 'Prawn', 'Strepson']

In [25]:
list (range (len(l1)-1,0,-1))

[3, 2, 1]

In [26]:
list (range (len(l1)-1,-1,-1))

[3, 2, 1, 0]

In [27]:
for i in range (len(l1)-1,-1,-1):
    print(l1[i])

Strepson
Prawn
Lobster
Smash

In [30]:
for i in (l1):
     print(i)

Smash
Lobster
Prawn
Strepson

In [35]:
for i in range (len(l1)-1):
    print([i])

[0]
[1]
[2]

In [39]:
for i in range (len(l1)-1,-1):
    print(i)

In [38]:
for i in range (len(l1)-1,-1,-1):
    print(i)

3
2
1
0

In [42]:
# Hardcoded code not an atomate code 
for i in [3,2,1,0]:
    print(l1[i])

Strepson
Prawn
Lobster
Smash

In [49]:
l_2 = [1,2,3,4,5,6,7,8,9,10]
# Remove the data existt in even indexes 
list(range(0,len(l_2),2))

[0, 2, 4, 6, 8]

In [50]:
l_2 = [98,45,56,33,23,35,46,57,44,3]
for i in range (0,len(l_2),2):
    print(l_2[i])

98
56
23
46
44

In [51]:
l_3 = [2,3,4,5,67,76]
sum(l_3)

157

In [52]:
# Write a programme to obtain the sum of l_3 by using For Loop
result = 0
for i in l_3:
    result = result+i
result

157

In [53]:
# summation with tuple 
t = (9,8,6,4,4,3,575,3,5)
for m in t :
    result = result + m
result

774

In [54]:
# simillarly for loop works with Strings and and set
s2  = {1,2,3,4,5,3,23,"Shreyas","Chillal"}
for i in s2:
    print(i)

1
2
3
4
5
Shreyas
Chillal
23

In [56]:
s = "pwskills"
for i in s :
    print(i)

p
w
s
k
i
l
l
s

In [58]:
for i in range (s2):
    print(i)

TypeError: 'set' object cannot be interpreted as an integer

In [59]:
d = {"name" : "Shreyas","class":"Data Science Masters",
    "topics":["python","projects","stats","ML","DL","CV","NLP"]}

In [60]:
d.keys()

dict_keys(['name', 'class', 'topics'])

In [66]:
d.values()

dict_values(['Shreyas', 'Data Science Masters', ['python', 'projects', 'stats', 'ML', 'dl', 'CV', 'NLP']])

In [67]:
for i in d.keys():
    print(d[i])

Shreyas
Data Science Masters
['python', 'projects', 'stats', 'ML', 'dl', 'CV', 'NLP']

In [69]:
for i in d.values():
    print(i)

Shreyas
Data Science Masters
['python', 'projects', 'stats', 'ML', 'dl', 'CV', 'NLP']

In [70]:
# items always gives the data in a tuples
for i in d.items():
    print(i)

('name', 'Shreyas')
('class', 'Data Science Masters')
('topics', ['python', 'projects', 'stats', 'ML', 'dl', 'CV', 'NLP'])